<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FRACTURE INFORMATION</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color:#a78294;
    }
    p{
        font-size:20px;
    }
    ul
    {
        font-size:20px;
    }
    h1 {
        color: #0c0c0c;
    }
    .fracture-info {
        padding: 50px;
        
        
    }
    .fracture-info h2 {
        color: #0d0d0d;
    }
</style>
</head>
<body>

<div class="fracture-info">
    <h1>FRACTURE INFORMATION</h1>
    <h2>TYPE OF FRACTURE: Avlusion Fracture</h2>
    
    <h2>ABOUT THE FRACTURE: </h2>
    <p>An avulsion fracture occurs when an injury causes a ligament or tendon to break off (avulse) a small piece of a bone that's attached to it. The ligament or tendon also may be damaged. This type of injury can happen in the hip, ankle, knee, heel, elbow, or pelvis. Small fractures are usually treated with ice and rest. You may need a splint or a cast. These fractures rarely cause any problems, such as pain or discomfort, after the injury heals.You may need surgery if the bone fragment is large and widely separated from the rest of the bone. Surgery may also be done if a tendon or ligament is badly detached.</li>
    <h2>TREATMENT: </h2>
    <ul>
        <li>Immobilization</li>
        <li>R.I.C.E. Therapy: Rest, ice, compression, and elevation</li>
        <li>Pain Management</li>
        <li>Physical Therapy</li>
        <li>Surgical Intervention</li>
        <li>Follow-up Care</li>
    </ul>
</div>

</body>
</html>