<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fracture Information</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color:#a78294;
    }
    p{
        font-size:20px;
    }
    ul
    {
        font-size:20px;
    }
    h1 {
        color: #0c0c0c;
    }
    .fracture-info {
        padding: 50px;
       
    }
    .fracture-info h2 {
        color: #0d0d0d;
    }
</style>
</head>
<body>

<div class="fracture-info">
    <h1>FRACTURE INFORMATION</h1>
    <h2>TYPE OF FRACTURE: Compression-crush Fracture</h2>
    
    <h2>ABOUT THE FRACTURE: </h2>
    <p>A compression fracture is a type of fracture or break in your vertebrae. The vertebrae are the bones in your back that are stacked on top of each other to make your spine. Osteoporosis is the most common cause of compression fractures. Osteoporosis is a type of bone loss that causes bones to break easily. Compression fractures caused by osteoporosis usually become less painful with medicines and rest. They usually heal within 3 months. But some can cause long-term problems. Medicines to treat osteoporosis can help prevent fractures in the future, but they don't help heal an existing fracture.</p>
    <h2>TREATMENT: </h2>
    <p>Compression fracture treatment focuses on relieving pain, stabilizing the bones in the spine and preventing another fracture. Depending on the severity of the fracture and your overall health, treatment may include:</p>
    <ul>
       <li>Pain relief medication</li>
        <li>Braces</li>
        <li>Medications to strengthen bones</li>
        <li>Vertebroplasty or kyphoplasty</li>
    </ul>
</div>

</body>
</html>