<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fracture Information</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color:#a78294;
    }
    p{
        font-size:20px;
    }
    ul
    {
        font-size:20px;
    }
    h1 {
        color: #0c0c0c;
    }
    .fracture-info {
        padding: 50px;
        
    }
    .fracture-info h2 {
        color: #0d0d0d;
    }
</style>
</head>
<body>

<div class="fracture-info">
    <h1>FRACTURE INFORMATION</h1>
    <h2>TYPE OF FRACTURE: Greenstick Fracture</h2>
    
    <h2>ABOUT THE FRACTURE: </h2>
    <p>A greenstick fracture is a type of fracture most commonly seen in children. It occurs when a bone bends and cracks, instead of breaking completely into separate pieces. The name "greenstick" comes from the analogy to bending a young, green tree branch, where it may break incompletely. Greenstick fractures are more common in children because their bones are softer and more flexible than adult bones. These fractures typically heal well with proper immobilization and support.</p>
    <h2>TREATMENT: </h2>
    <p>Greenstick fracture treatment focuses on ensuring proper healing and preventing complications. Depending on the severity of the fracture and the age of the patient, treatment may include:</p>
    <ul>
        <li>Immobilization with a cast or splint</li>
        <li>Pain relief medication (if necessary)</li>
        <li>Monitoring for proper bone alignment and healing</li>
        <li>Physical therapy (in some cases)</li>
    </ul>
</div>

</body>
</html>