<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fracture Information</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color:#a78294;
    }
    p{
        font-size:20px;
    }
    ul
    {
        font-size:20px;
    }
    h1 {
        color: #0c0c0c;
    }
    .fracture-info {
        padding: 50px;
        
    }
    .fracture-info h2 {
        color: #0d0d0d;
    }
</style>
</head>
<body>

<div class="fracture-info">
    <h1>FRACTURE INFORMATION</h1>
    <h2>TYPE OF FRACTURE: Hairline Fracture</h2>
    <h2>ABOUT THE FRACTURE: </h2>
    <p>A hairline fracture, also known as a stress fracture, is a tiny crack in a bone. It is often caused by repetitive stress or overuse, such as repeatedly jumping or running long distances. Hairline fractures are common in athletes and individuals who participate in activities that put repetitive stress on the bones. Despite being small, hairline fractures can cause significant pain and discomfort. If left untreated, they can worsen and lead to more serious complications. Rest and proper treatment are essential for healing a hairline fracture.</p>
    <h2>TREATMENT: </h2>
    <p>Treatment for a hairline fracture typically involves:</p>
    <ul>
        <li>Resting the affected area</li>
        <li>Avoiding activities that aggravate the fracture</li>
        <li>Immobilization with a splint or brace, if necessary</li>
        <li>Pain relief medication, if necessary</li>
        <li>Gradual return to activity under the guidance of a healthcare professional</li>
    </ul>
</div>

</body>
</html>