<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fracture Information</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color:#a78294;
    }
    p{
        font-size:20px;
    }
    ul
    {
        font-size:20px;
    }
    h1 {
        color: #0c0c0c;
    }
    .fracture-info {
        padding: 50px;
        
    }
    .fracture-info h2 {
        color: #0d0d0d;
    }
</style>
</head>
<body>

<div class="fracture-info">
    <h1>FRACTURE INFORMATION</h1>
    <h2>TYPE OF FRACTURE: Spiral Fracture</h2>
    <h2>ABOUT THE FRACTURE: </h2>
    <p>A spiral fracture is a type of bone fracture characterized by a twisting or rotational force that causes the bone to break in a spiral pattern along its length. This type of fracture often occurs as a result of sports injuries or traumatic accidents where a twisting motion is involved. Spiral fractures are more common in long bones such as the femur, tibia, and humerus. They can be accompanied by significant pain, swelling, and deformity. Treatment typically involves realigning the bones and immobilizing them to promote healing.</p>
    <h2>TREATMENT: </h2>
    <p>Treatment for a spiral fracture may include:</p>
    <ul>
        <li>Reduction of the fracture (realignment of the broken bones)</li>
        <li>Immobilization with a cast, splint, or brace</li>
        <li>Pain management</li>
        <li>Monitoring for complications such as nerve or blood vessel damage</li>
        <li>Physical therapy to restore strength and range of motion</li>
    </ul>
</div>

</body>
</html>